In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [16]:
us_covid = pd.read_csv('../johnshopkins/covid-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
us_mobility = pd.read_csv('data/2020_US_Region_Mobility_Report.csv')

In [31]:
maricopa_covid = us_data.loc[(us_data['Admin2'] == 'Maricopa')]
maricopa_mobility = us_mobility.loc[us_mobility['sub_region_2'] == 'Maricopa County']
maricopa_mobility = maricopa_covid.T.reset_index()
maricopa_mobility.head(20)

             index                    108
0              UID               84004013
1             iso2                     US
2             iso3                    USA
3            code3                    840
4             FIPS                   4013
5           Admin2               Maricopa
6   Province_State                Arizona
7   Country_Region                     US
8              Lat                33.3484
9            Long_               -112.492
10    Combined_Key  Maricopa, Arizona, US
11         1/22/20                      0
12         1/23/20                      0
13         1/24/20                      0
14         1/25/20                      0
15         1/26/20                      1
16         1/27/20                      1
17         1/28/20                      1
18         1/29/20                      1
19         1/30/20                      1

In [72]:
plot_date = maricopa_mobility.loc[11:]
date = plot_date['index'].tolist()
cases = plot_date[108].tolist()

for case in cases:
    x=0
    print(case[x + 1]
    x

#daily


#plt.plot(date, cases)
#plt.xlabel("Date")
#plt.ylabel("Confirmed Cases")
#plt.title("Confirmed Cases Time Series")

SyntaxError: unexpected EOF while parsing (<ipython-input-72-05b55d5cbbb7>, line 15)